<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <div class="ms-auto p-2 bd-highlight"> <!-- Positioning the navigation bar item in the far right corner -->
        <% if user_signed_in? %>

          <%= link_to 'Редактировать аккаунт', edit_user_registration_path, class: "btn btn-outline-warning" %>
          <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>

        <% else %>
          <%= link_to 'Зарегистрироваться', new_user_registration_path, class: "btn btn-outline-success" %>
          <%= link_to 'Войти', new_user_session_path, class: "btn btn-outline-success" %>

        <% end %>
      </div>
    </div>
  </div>
</nav>
